<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Book list</title>
</head>
<body>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Books</h1>
        <p class="text-right"><a class="btn btn-primary" href="books/new" role="button">Create book</a></p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Book Name</th>
                <th scope="col">Author</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <th scope="row" th:text="${book.getId()}"></th>
                <td th:text="${book.getName()}"></td>
                <td th:text="${book.getAuthor()}"></td>
                <td><a class="btn btn-info" th:href="@{books/{id}/edit(id=${book.getId()})}" role="button">Edit</a></td>
                <td>
                    <form action="/books" method="delete">
                        <input type="hidden" name="id" th:value="${book.getId()}">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>



</div>
</body>
</html>